*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  body {
    font-family: 'Merriweather', serif;
  }

  fieldset {
    border-top: 2px solid #2d3945;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 3em 0px 0px 0px;
    margin: auto;
    max-width: 90%;
    flex-direction: column;
   
  }
  
  p,
  h1,
  h2 {
    text-align: center;
  }

  .main_header {
    margin-bottom: 4px;
  }

  
  .container_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  } 

  .head {
    margin: auto;
    max-width: 90%;
    border-bottom: 4px solid #2d3945;
  }
.label {
  padding: 10px 10px 10px 0px;
}

.zip-style {
  width: 50%;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 4px 8px 0;
}
.select_state,
input[type=text],
input[type=email],
input[type=tel] {
   font-size: 1em;
   padding: 20px 25px;
   border: none;
   background-color: #e8eeef;
   border-radius: 5px;
   box-sizing: border-box;
   box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
   color: #8a97a0;
   max-width: 100%;
   outline: 0;
}

.textarea_style {
  margin:0 auto;
  font-size: 1em;
  padding: 20px 25px;
  border: none;
  background-color: #e8eeef;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  color: #8a97a0;
  width: 100%;
  outline: 0;
}

.label_bottom {
  margin: 20px;

::placeholder {
  text-align: right;
  font-style: italic;
  color: #b5c0c9;
}

input:focus {
  border: 2px solid #24517e;
}
